<% @students.each do |student| %>
<p>Name: <%= student.format_name() %></p>
<p>House: <%= student.house.name.capitalize() %></p>
<p><a href="/students/<%= student.id %>">Student Details</a></p>


<% end %>
